body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1c1c1c;
    color: #f2f2f2;
  }
  
  .container {
    max-width: 500px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }

  #back-button {
    position: absolute;
    top: 1rem;
    left: 1rem;
    background-color: transparent;
    color: #d4f355;
    border: none;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: color 0.3s;
}

#back-button span {
    margin-right: 0.5rem;
}

#back-button:hover {
    color: #222;
}
  
  .progress-bar {
    background-color: #d4f355;
    color: #222;
    padding: 0.5rem;
    border-radius: 10px;
    margin-bottom: 2rem;
    font-weight: bold;
  }
  
  .step {
    display: none;
    flex-direction: column;
    gap: 1rem;
  }
  
  .step.active {
    display: flex;
  }
  
  img {
    max-width: 100%;
    border-radius: 10px;
  }
  
  button {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border: 2px solid #d4f355; /* set border color */
    border-radius: 25px;
    background-color: transparent; /* make background transparent */
    color: #d4f355; /* match text color to border */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  button:hover {
    background-color: #d4f355; /* fill background on hover */
    color: #222; /* change text color on hover */
  }  

button.active {
    background-color: #d4f355; /* Change background color */
    color: #222; /* Change text color */
    border-color: #d4f355; /* Keep border color same */
  }
  
  .timer-display {
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem 0;
  }
  
  select, input[type=range] {
    padding: 0.5rem;
    font-size: 1rem;
    margin: 1rem 0;
  }
  